In [93]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from matplotlib import pyplot as plt

import seaborn as sns
import warnings
import csv

In [94]:

missing_values = ["na", "n/a", "--", " "]
data_df = pd.read_csv('data/training.1600000.processed.noemoticon.csv',
                      encoding='latin',
                      delimiter=",")

data_df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [95]:


data_df.columns
data_df = data_df.rename(columns={'0': 'sentiment', data_df.columns[1]: 'id',data_df.columns[2]: 'date', data_df.columns[3]: 'flag',
                                  data_df.columns[4]: 'user', data_df.columns[5]: 'tweet'})

In [96]:
data_df['sentiment'].unique()

array([0, 4], dtype=int64)

Le variable sentiment représente le sentiment du tweet qui se compose en 5 valeurs :

| Sentiment   | Représentation |
|-------------|-------------|
| 0           | Négative       |
| 1           | Négative        |
| 2          | Neutre           |
| 3         | Positive           |
| 4         | Positive            |

In [97]:

df_count = pd.DataFrame({'sentiment': data_df['sentiment'].value_counts().index,
                            'Nombre': data_df['sentiment'].value_counts().values})
df_count

   sentiment  Nombre
0          4  800000
1          0  799999

In [98]:
data_df

,sentiment,id,date,flag,user,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

Nous pouvons voir qu'il n'y a que 2 valeur pour l'instant 0 ou 4
Creation d'un dataset de **200 000** équilibré avec une nouvelle variable Target qui a pour valeur 0 et 1:

| Target | Sentiment   | Représentation |
|-------------|-------------|-------------|
| 0           | [0,1]        |Négative |
| 1           | [3,4]           | Positive |

In [99]:
data_df['target'] = data_df['sentiment'].map({0: 0, 1: 0,
                                              3: 1, 4: 1})

In [100]:

df_count = pd.DataFrame({'target': data_df['target'].value_counts().index,
                            'Nombre': data_df['target'].value_counts().values})
df_count

   target  Nombre
0       1  800000
1       0  799999

Undersimpling

In [101]:
def undersamppling(col,nb_row,df):

    df_col_neg = df[df[col]==0]
    df_col_pos = df[df[col]==1]
    if nb_row%2 ==0:

        return pd.concat([df_col_neg.sample(int(nb_row/2)), df_col_pos.sample(int(nb_row/2))]).sort_index()
    else:
        print('nb_row ',nb_row,' Est impaire rentrer, nb_row doit etre paire')
        return df[:1]

In [102]:
def undersamppling2(col,nb_row,df):

    df_col_neg = df[df[col]==0]
    df_col_pos = df[df[col]==1]
    if nb_row%2 ==0:

        return pd.concat([df[df[col]==0].sample(int(nb_row/2)), df[df[col]==1].sample(int(nb_row/2))]).sort_index()
    else:
        print('nb_row ',nb_row,' Est impaire rentrer, nb_row doit etre paire')
        return df[:1]

In [103]:
df_under_sampl_2000 = undersamppling('target',2000,data_df)

df_under_sampl_2000 = df_under_sampl_2000.rename(columns={data_df.columns[0]: 'old_index'})
df_under_sampl_2000

,old_index,id,date,flag,user,tweet,target
332,0,1467896211,Mon Apr 06 22:42:18 PDT 2009,NO_QUERY,summerseelye,michigan state you make me sad,0
406,0,1467915670,Mon Apr 06 22:47:41 PDT 2009,NO_QUERY,lizziehalfpenny,"why to we, the only school in the world, be in...",0
1832,0,1468244784,Tue Apr 07 00:30:49 PDT 2009,NO_QUERY,SimonArloff,Why don't the hot guys from my gym get on my t...,0
1943,0,1468268489,Tue Apr 07 00:38:59 PDT 2009,NO_QUERY,ElmosSexy,Nothing was sick all day it sucked im just up ...,0
2732,0,1468442569,Tue Apr 07 01:41:50 PDT 2009,NO_QUERY,saradia,I know I shouldn't feel upset about losing a f...,0
...,...,...,...,...,...,...,...
1597382,4,2192912819,Tue Jun 16 07:43:56 PDT 2009,NO_QUERY,mahhriahh,"@kaddyi If you come, totally we can hang!",1
1597881,4,2193032795,Tue Jun 16 07:54:13 PDT 2009,NO_QUERY,AllaIceland,is starting to work on a new business plan,1
1598284,4,2193152877,Tue Jun 16 08:04:06 PDT 2009,NO_QUERY,DKJ63,@ourladyj Congratulations on the new nephew.,1
1598728,4,2193254701,Tue Jun 16 08:12:25 PDT 2009,NO_QUERY,kmconard,Lunch with Megan and our mommies!,1
1598987,4,2193319644,Tue Jun 16 08:17:46 PDT 2009,NO_QUERY,joeymartinortiz,Sometimes Love Comes Around Just Get Back Up W...,1

In [104]:
df_under_sampl_2000.to_csv('data/under_sampling_2000.csv')

In [105]:
df_under_sampl_50000 = undersamppling('target',5000,data_df)

df_under_sampl_50000 = df_under_sampl_50000.rename(columns={data_df.columns[0]: 'old_index'})
df_under_sampl_50000

,old_index,id,date,flag,user,tweet,target
711,0,1467988612,Mon Apr 06 23:08:23 PDT 2009,NO_QUERY,jackdanielzz,@ikimb0 i just seen ur tweet . plz write bak i...,0
789,0,1468006296,Mon Apr 06 23:13:27 PDT 2009,NO_QUERY,shroedernz,going thru town and traffic on bypass is stink,0
1250,0,1468115272,Mon Apr 06 23:47:50 PDT 2009,NO_QUERY,danielcalderonL,@aniita_0517 Yes i did. That's a sad topic for...,0
1365,0,1468137623,Mon Apr 06 23:55:14 PDT 2009,NO_QUERY,kussenvandeth,I was woken up from a deep sleep just to be le...,0
1495,0,1468167471,Tue Apr 07 00:05:01 PDT 2009,NO_QUERY,intoxxication,"@ylizabeth because you died, and i never see y...",0
...,...,...,...,...,...,...,...
1597974,4,2193056628,Tue Jun 16 07:56:15 PDT 2009,NO_QUERY,rdrmr17,Finally up. Class at 1pm today. I'm buying a w...,1
1598022,4,2193079512,Tue Jun 16 07:58:10 PDT 2009,NO_QUERY,lozjg,Back home where the internet runs free.,1
1598083,4,2193082210,Tue Jun 16 07:58:23 PDT 2009,NO_QUERY,RockOrchid,"Happy JONAS DAY , hahahahah ^^ sooo much fan ...",1
1598724,4,2193254324,Tue Jun 16 08:12:23 PDT 2009,NO_QUERY,jtonydavis,"I need cheap, or free, video editing software....",1
1599401,4,2193428755,Tue Jun 16 08:26:47 PDT 2009,NO_QUERY,craftyasparagus,I'm using @MrTweet to recommend one person per...,1

In [106]:
df_under_sampl_50000.to_csv('data/under_sampling_50000.csv')

précis

In [107]:
data_df['target'] = data_df['sentiment'].map({0: 0, 1: 0,
                                              3: 2, 4: 1})

In [108]:

df_count = pd.DataFrame({'target': data_df['target'].value_counts().index,
                            'Nombre': data_df['target'].value_counts().values})
df_count

   target  Nombre
0       1  800000
1       0  799999

In [109]:
df_under_sampl_2000= undersamppling('target',2000,data_df[['tweet','target']])

In [110]:
df_under_sampl_2000
#df_under_sampl_2000.reset_index(drop=True, inplace=True)
df_under_sampl_2000

                                                     tweet  target
30       @alielayus I want to go to promote GEAR AND GR...       0
198         couldn't get shit done today ~ i'm so screwed        0
362      @Sara_Kate Im afraid too  ( ur reply about uni...       0
1279     Yo jimo i cant talk on aim anymore, its glitch...       0
2112     @rustyrockets do I sense a blog coming on?  To...       0
...                                                    ...     ...
1592304  @andrewtkelley that strawberry shortcake looks...       1
1594844                              @WinonaWiefel thanks        1
1594991  photographing Day of the African Child celebra...       1
1599678                               @jasontancy thanks!        1
1599992                                  @SCOOBY_GRITBOYS        1

[2000 rows x 2 columns]

data_df= df_under_sampl_2000

df_count = pd.DataFrame({'target': data_df['target'].value_counts().index,
                            'Nombre': data_df['target'].value_counts().values})
df_count

In [111]:
df_under_sampl_2000.to_csv('data/under_sampling_2000_op.csv')

Donné ref

df_under_sampl_8000 = undersamppling('target',8000,data_df[['tweet','target']])
pd.concat(df_under_sampl_2000, df_under_sampl_8000).sort_index()
df_under_sampl_2000.to_csv('data/under_sampling_2000_ref.csv')

In [112]:
df_under_sampl_10000 = undersamppling('target',10000,data_df[['tweet','target']])
df_under_sampl_10000.reset_index(drop=True, inplace=True)

In [113]:
df_under_sampl_10000

                                                  tweet  target
0     Today I realized I am too good at hiding thing...       0
1     My thoughts are with Sandra Cantu's family at ...       0
2     getting annoyed easily today  &gt;&gt;&gt; bio...       0
3     are you vaccinated against chicken-pox?should ...       0
4     is stucked in Paris and can't even travel into...       0
...                                                 ...     ...
9995  @ZAC_DANCE macbook, or macbook pro? either way...       1
9996  @peanut819 oh okay i see. i know you need enou...       1
9997  @Rogcar3 Don't look now, but I think your hole...       1
9998         @neildouglass i cant wait for born to run        1
9999  Dintist today! My teeth are excited lol ... HO...       1

[10000 rows x 2 columns]

In [114]:
df_under_sampl_10000.to_csv('data/under_sampling_10000_op.csv')